pkgbase = clash-party-bin
	pkgdesc = Clash Party - 基于 Mihomo 的代理工具客户端（GUI）
	pkgver = 1.9.2
	pkgrel = 1
	url = https://github.com/mihomo-party-org/clash-party
	arch = x86_64
	license = GPL-3.0-only
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = libcups
	depends = libdrm
	depends = libsecret
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nss
	depends = pango
	depends = xdg-utils
	optdepends = libappindicator-gtk3: 系统托盘图标支持
	optdepends = libayatana-appindicator: 系统托盘图标支持（Ayatana）
	provides = clash-party
	conflicts = clash-party
	options = !strip
	source_x86_64 = clash-party-1.9.2.deb::https://github.com/mihomo-party-org/clash-party/releases/download/v1.9.2/clash-party_1.9.2_amd64.deb
	sha256sums_x86_64 = SKIP

pkgname = clash-party-bin
